:root {
    --gradiente-body: linear-gradient(#BFDAE6, #FCF0DD, #FACF9D);
    --bg-azulescuro: #2E7BA2;
    --raleway: 'Raleway', sans-serif;
    --calistoga: 'Calistoga', cursive;
    --cor-fonteprincipal: #444444;
    --bg-button-hover: #519EC5;
    --branco: #FFFFFF;
    --bg-fonte-dias: #DF9010;
}

body {
    background: var(--gradiente-body);
}

.parte1desktoptablet, .imagebottomdesktop, .imagebottomtablet {
    display: none;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-azulescuro);
    position: relative;
    padding: 32px 24px;
}

.menumobile {
    display: flex;
    align-items: center;

}

.labelmenu {
    display: flex;
}

.menuhamburger {
    width: 1.5em;
    height: 2.5em;
    background-image: url("../images/mobile/menu.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.listamenu {
    display: none;
    position: absolute;
    top: 100%;
    width: 50%;
    left: 50%;
    background-color: var(--bg-azulescuro);
    text-align: center;
}

.menubotao {
    display: none;
}

.menubotao:checked ~ .listamenu {
    display: block;
    z-index: 1;

}

.menuitem {
    padding: 16px;
    text-align: center;
}

.menu_item_link {
    text-decoration: none;
    color: var(--branco);
    font-family: var(--raleway);
    font-weight: 700;
    font-size: 24px;
    line-height: 50px;
}

hr {
    border-width: 1px;
    border-style: solid;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    color: var(--branco);
}

.banner {
    position: relative;
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 41.6px;
}

.banner::before {
    content: "";
    position: absolute;
    inset: 0px;
    background-image: url(../images/banner.png);
    background-size: cover;
    background-position: center;
    z-index: -1;
    opacity: 40%;
}

.banner h1 {
    font-family: var(--calistoga);
    font-weight: 400;
    font-size: 32px;
    text-align: center;
    color: var(--cor-fonteprincipal);   
}

.parte1desktoptablet {
    display: none;
}

.parte1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em 1.5em;
    gap: 2em;
}

.parte1 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: var(--raleway);
    color: var(--cor-fonteprincipal);
    gap: 1.5em;
}

.parte1 h6 {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}

.parte1 p{
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
}

.button {
    background-color: var(--bg-azulescuro);
    border: none;
    padding: 0.5em 1em;
    border-radius: 16px;
    width: 256px;
    height: 56px;
    color: var(--branco);
    font-family: var(--raleway);
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    box-shadow: 4px 4px 0px 2px var(--cor-fonteprincipal);
}

.button:hover {
    background-color: var(--bg-button-hover);
}

.lineup h1 {
    font-family: var(--calistoga);
    font-size: 48px;
    text-align: center;
    color: var(--cor-fonteprincipal);
    padding: 32px 24px;
}

.lineup h3 {
    font-family: var(--calistoga);
    font-size: 32px;
    color: var(--branco);
    background: var(--bg-fonte-dias);
    width: fit-content;
    padding: 16px;
    margin: 0 auto;
}

.sabado, .domingo {
    font-family: var(--raleway);
    color: var(--cor-fonteprincipal);
    padding-top: 48px;
    padding-bottom: 48px;
}

.linha1 {
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    line-height: 56px;
    padding-bottom: 32px;
}

.linha2 {
    font-size: 40px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding-bottom: 32px;
}

.linha3 {
    font-size: 32px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding-bottom: 32px;
}

.linha4 {
    font-size: 32px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding-bottom: 32px;
}

.imagebottommobile {
    width: 100%;
}

.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    font-family: var(--raleway);
    color: var(--cor-fonteprincipal);
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
    padding: 24px 24px;
    text-align: center;
}

.socialmedia p {
    line-height: 60px;
}

.socialmedia a {
    text-decoration: none;
}

@media screen and (min-width: 768px) {

    .menuhamburger, .parte1mobile, .imagebottomdesktop, .imagebottommobile {
        display: none;
    }

    .listamenu hr {
        display: none;
    }

    .cabecalho {
        flex-direction: column;
        gap: 32px;
    }
    
    .listamenu {
        position: static;
        display: flex;
        width: 100%;
        gap: 32px;
    }

    .menu_item_link {
        font-size: 20px;
    }

    .banner h1 {
        font-size: 64px;
        line-height: 83px;
    }

    .parte1desktoptablet {
        display: block;
    }

    .lineup h3 {
        display: flex;
        position: relative
    }

    h3::before, h3::after {
        content: "";
        position: absolute;
        width: 83.5px;
        height: 1px;
        background: var(--bg-fonte-dias);
        left: -120px;
        top: 50%;
        transform: translatey(-50%);
    }

    h3::after {
        left: unset;
        right: -120px;
      }

    .linha2 {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 32px;
        padding: 0 49.5px 32px;
    }

    .linha3 {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 32px;
        padding: 0 111px 32px
    }

    .linha4 {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 32px;
        padding: 0 145.5px 32px
    }

    .imagebottomtablet {
        display: block;
        width: 100%;
    }

    .socialmedia {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .rodapedireitos br {
        display: none;
    }

}

@media screen and (min-width: 1440px) {

    .menuhamburger, .parte1mobile, .imagebottomtablet, .imagebottommobile {
        display: none;
    }

    .cabecalho {
        flex-direction: row;
        justify-content: space-around;
    }

    .banner {
        height: 25.4375em;
    }

    .parte1 {
        flex-direction: row;
        padding: 4em 7.5em;
        gap: 48px;
    }

    .lineup h1 {
        font-size: 64px;
    }

    h3::before, h3::after {
        width: 339.5px;
        left: -359.5px;
    }

    h3::after {
        left: unset;
        right: -359.5px;
      }

    .imagebottomdesktop {
        display: block;
        width: 100%;
    }

    .rodape {
        flex-direction: row;
        justify-content: space-between;
        padding: 24px 120px;
    }

    .logofooter {
        display: flex;
    }

    .rodapedireitos br {
        display: block;
    }

    .rodapedireitos {
        text-align: justify;
    }



}