:root {
    --gradiente-body: linear-gradient(#BFDAE6, #FCF0DD, #FACF9D);
    --bg-azulescuro: #2E7BA2;
    --raleway: 'Raleway', sans-serif;
    --calistoga: 'Calistoga', cursive;
    --cor-fonteprincipal: #444444;
    --bg-button-hover: #519EC5;
    --branco: #FFFFFF;
    --bg-fonte-dias: #DF9010;
}

body {
    background: var(--gradiente-body);
}

.parte1desktoptablet, .imagebottomdesktop, .imagebottomtablet {
    display: none;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-azulescuro);
    position: relative;
    padding: 32px 24px;
}

.menumobile {
    display: flex;
    align-items: center;

}

.labelmenu {
    display: flex;
}

.menuhamburger {
    width: 1.5em;
    height: 2.5em;
    background-image: url("../images/mobile/menu.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.listamenu {
    display: none;
    position: absolute;
    top: 100%;
    width: 50%;
    left: 50%;
    background-color: var(--bg-azulescuro);
    text-align: center;
}

.menubotao {
    display: none;
}

.menubotao:checked ~ .listamenu {
    display: block;
    z-index: 1;

}

.menuitem {
    padding: 16px;
    text-align: center;
}

.menu_item_link {
    text-decoration: none;
    color: var(--branco);
    font-family: var(--raleway);
    font-weight: 700;
    font-size: 24px;
    line-height: 50px;
}

hr {
    border-width: 1px;
    border-style: solid;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    color: var(--branco);
}

.banner {
    position: relative;
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 41.6px;
}

.banner h1 {
    padding: 0 24px;
}

.banner::before {
    content: "";
    position: absolute;
    inset: 0px;
    background-image: url(../images/banner6.png);
    background-size: cover;
    background-position: center;
    z-index: -1;
    opacity: 40%;
}

.banner h1 {
    font-family: var(--calistoga);
    font-weight: 400;
    font-size: 32px;
    text-align: center;
    color: var(--cor-fonteprincipal);   
}

main h6 {
    font-family: var(--raleway);
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: var(--cor-fonteprincipal);
    padding: 48px 24px 0;
}

.ingresso {
    padding: 32px;
    box-sizing: border-box;
    background: linear-gradient(180deg, #BFDAE6 0%, #FCF0DD 50%, #FACF9D 100%);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
    width: 312px;
    margin: 24px;
}

.textoingresso {
    margin-bottom: 32px;
}

.textoingresso br {
    display: none;
}

.logos {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

.qrcode {
    display: flex;
    justify-content: center;
}

.ingresso p {
    font-family: var(--raleway);
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: var(--cor-fonteprincipal);
}

.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    font-family: var(--raleway);
    color: var(--cor-fonteprincipal);
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
    padding: 24px 24px;
    text-align: center;
}

.socialmedia p {
    line-height: 60px;
}

.socialmedia a {
    text-decoration: none;
}

@media screen and (min-width: 768px) {

    .menuhamburger, .parte1mobile, .imagebottomdesktop, .imagebottommobile {
        display: none;
    }

    .listamenu hr {
        display: none;
    }

    .cabecalho {
        flex-direction: column;
        gap: 32px;
    }
    
    .listamenu {
        position: static;
        display: flex;
        width: 100%;
        gap: 32px;
    }

    .menu_item_link {
        font-size: 20px;
    }

    .banner h1 {
        font-size: 64px;
        line-height: 83px;
    }

    .textoingresso {
        margin: 0 60px 32px;
    }

    .textoingresso br {
        display: block;
    }

    .ingresso {
        width: 648px;
        margin: 60px;
    }

    .socialmedia {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .rodapedireitos br {
        display: none;
    }

}

@media screen and (min-width: 1440px) {

    .menuhamburger, .parte1mobile, .imagebottomtablet, .imagebottommobile {
        display: none;
    }

    .cabecalho {
        flex-direction: row;
        justify-content: space-around;
    }

    .banner {
        height: 25.4375em;
    }

    .textoingresso br {
        display: none;
    }

    .textoingresso {
        margin: 0 324px;
    }

    .ingresso {
        width: 792px;
        height: 350px;
        margin: 32px 324px;
    }

    .qrcode {
        justify-content: left;
    }

    .rodape {
        flex-direction: row;
        justify-content: space-between;
        padding: 24px 120px;
    }

    .logofooter {
        display: flex;
    }

    .rodapedireitos br {
        display: block;
    }

    .rodapedireitos {
        text-align: justify;
    }

}